{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<h1>Test</h1>
{% endblock%}


<!doctype html>
<html>
    <head>
        <title>Home page</title>
    </head>
    <body>
        <h1>{{storeid}}</h1>
        <p>Hello, Welcome to the store!</p>
        {% for _ in range(3) %} <!-- This is called declaring an expression, used to write python code inside the HTML file-->
        <p>{{storeid}}</p>
        {% endfor %}
        {% for x in range(3) %}
         {%if x % 2==1 %} <!--You can do this for if statements also-->
         <p>{{x}}</p> <!--The curly brackets around x means it will determine x as a variable, without them it will print 3 x's as it will take it for a string-->
         {% endif %}
        {% endfor %}
        {% for x in content %}
        <p>{{x}}</p>
        {% endfor %}
    </body>
</html>